@font-face {
  font-family: "icomoon";
  src: url("../custom-icon/fonts/icomoon.eot?15wqok");
  src: url("../custom-icon/fonts/icomoon.eot?15wqok#iefix")
      format("embedded-opentype"),
    url("../custom-icon/fonts/icomoon.ttf?15wqok") format("truetype"),
    url("../custom-icon/fonts/icomoon.woff?15wqok") format("woff"),
    url("../custom-icon/fonts/icomoon.svg?15wqok#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dwonload:before {
  content: "\e900";
  color: #0255a3;
}
.icon-edit:before {
  content: "\e901";
}
.icon-emoji:before {
  content: "\e902";
  color: #fff;
}
.icon-expert:before {
  content: "\e903";
  color: #0255a3;
}
.icon-fav:before {
  content: "\e904";
}
.icon-favorite:before {
  content: "\e905";
  color: #fff;
}
.icon-f-logo .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-f-logo .path2:before {
  content: "\e907";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path3:before {
  content: "\e908";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path4:before {
  content: "\e909";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path5:before {
  content: "\e90a";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path6:before {
  content: "\e90b";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path7:before {
  content: "\e90c";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path8:before {
  content: "\e90d";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path9:before {
  content: "\e90e";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path10:before {
  content: "\e90f";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path11:before {
  content: "\e910";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path12:before {
  content: "\e911";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path13:before {
  content: "\e912";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path14:before {
  content: "\e913";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path15:before {
  content: "\e914";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path16:before {
  content: "\e915";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path17:before {
  content: "\e916";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path18:before {
  content: "\e917";
  margin-left: -1.40234375em;
  color: rgb(3, 85, 163);
}
.icon-f-logo .path19:before {
  content: "\e918";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path20:before {
  content: "\e919";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path21:before {
  content: "\e91a";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path22:before {
  content: "\e91b";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path23:before {
  content: "\e91c";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path24:before {
  content: "\e91d";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path25:before {
  content: "\e91e";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path26:before {
  content: "\e91f";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path27:before {
  content: "\e920";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path28:before {
  content: "\e921";
  margin-left: -1.40234375em;
  color: rgb(255, 255, 255);
}
.icon-f-logo .path29:before {
  content: "\e922";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path30:before {
  content: "\e923";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path31:before {
  content: "\e924";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path32:before {
  content: "\e925";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-f-logo .path33:before {
  content: "\e926";
  margin-left: -1.40234375em;
  color: rgb(2, 85, 163);
}
.icon-heart:before {
  content: "\e927";
}
.icon-help:before {
  content: "\e928";
  color: #0255a3;
}
.icon-home:before {
  content: "\e929";
}
.icon-insta .path1:before {
  content: "\e92a";
  color: rgb(0, 0, 0);
}
.icon-insta .path2:before {
  content: "\e92b";
  margin-left: -0.9794921875em;
  color: rgb(0, 0, 0);
}
.icon-insta .path3:before {
  content: "\e92c";
  margin-left: -0.9794921875em;
  color: rgb(255, 255, 255);
}
.icon-insta .path4:before {
  content: "\e92d";
  margin-left: -0.9794921875em;
  color: rgb(255, 255, 255);
}
.icon-insta .path5:before {
  content: "\e92e";
  margin-left: -0.9794921875em;
  color: rgb(255, 255, 255);
}
.icon-key:before {
  content: "\e92f";
}
.icon-location:before {
  content: "\e930";
}
.icon-location_icon:before {
  content: "\e931";
}
.icon-logout:before {
  content: "\e932";
}
.icon-messgae:before {
  content: "\e933";
  color: #0255a3;
}
.icon-notifaction:before {
  content: "\e934";
}
.icon-parking .path1:before {
  content: "\e935";
  color: rgb(255, 255, 255);
}
.icon-parking .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-parking .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-parking .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-parking .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-password:before {
  content: "\e93a";
}
.icon-plus:before {
  content: "\e93b";
}
.icon-profile:before {
  content: "\e93c";
}
.icon-property:before {
  content: "\e93d";
}
.icon-satisfaction:before {
  content: "\e93e";
  color: #0255a3;
}
.icon-search:before {
  content: "\e93f";
}
.icon-seen:before {
  content: "\e940";
  color: #06a88e;
}
.icon-sq:before {
  content: "\e941";
}
.icon-twiter .path1:before {
  content: "\e942";
  color: rgb(255, 255, 255);
}
.icon-twiter .path2:before {
  content: "\e943";
  margin-left: -0.9794921875em;
  color: rgb(3, 169, 244);
}
.icon-user:before {
  content: "\e944";
}
.icon-wass:before {
  content: "\e945";
}
.icon-whitw-delete:before {
  content: "\e946";
}
.icon-youtube .path1:before {
  content: "\e947";
  color: rgb(168, 29, 35);
}
.icon-youtube .path2:before {
  content: "\e948";
  margin-left: -0.9794921875em;
  color: rgb(255, 255, 255);
}
.icon-area:before {
  content: "\e949";
}
.icon-attachment:before {
  content: "\e94a";
}
.icon-bath:before {
  content: "\e94b";
}
.icon-bboyo .path1:before {
  content: "\e94c";
  color: rgb(128, 128, 128);
}
.icon-bboyo .path2:before {
  content: "\e94d";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path3:before {
  content: "\e94e";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path4:before {
  content: "\e94f";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path5:before {
  content: "\e950";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path6:before {
  content: "\e951";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path7:before {
  content: "\e952";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path8:before {
  content: "\e953";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path9:before {
  content: "\e954";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path10:before {
  content: "\e955";
  margin-left: -2.9306640625em;
  color: rgb(128, 128, 128);
}
.icon-bboyo .path11:before {
  content: "\e956";
  margin-left: -2.9306640625em;
  color: rgb(2, 85, 163);
}
.icon-bboyo .path12:before {
  content: "\e957";
  margin-left: -2.9306640625em;
  color: rgb(2, 85, 163);
}
.icon-bboyo .path13:before {
  content: "\e958";
  margin-left: -2.9306640625em;
  color: rgb(2, 85, 163);
}
.icon-bboyo .path14:before {
  content: "\e959";
  margin-left: -2.9306640625em;
  color: rgb(2, 85, 163);
}
.icon-bboyo .path15:before {
  content: "\e95a";
  margin-left: -2.9306640625em;
  color: rgb(2, 85, 163);
}
.icon-bed:before {
  content: "\e95b";
}
.icon-bedroom:before {
  content: "\e95c";
}
.icon-boyo-logo .path1:before {
  content: "\e95d";
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path2:before {
  content: "\e95e";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path3:before {
  content: "\e95f";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path4:before {
  content: "\e960";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path5:before {
  content: "\e961";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path6:before {
  content: "\e962";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path7:before {
  content: "\e963";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path8:before {
  content: "\e964";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path9:before {
  content: "\e965";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path10:before {
  content: "\e966";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path11:before {
  content: "\e967";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path12:before {
  content: "\e968";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path13:before {
  content: "\e969";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path14:before {
  content: "\e96a";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path15:before {
  content: "\e96b";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path16:before {
  content: "\e96c";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path17:before {
  content: "\e96d";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path18:before {
  content: "\e96e";
  margin-left: -1.4033203125em;
  color: rgb(3, 85, 163);
}
.icon-boyo-logo .path19:before {
  content: "\e96f";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path20:before {
  content: "\e970";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path21:before {
  content: "\e971";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path22:before {
  content: "\e972";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path23:before {
  content: "\e973";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path24:before {
  content: "\e974";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path25:before {
  content: "\e975";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path26:before {
  content: "\e976";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path27:before {
  content: "\e977";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path28:before {
  content: "\e978";
  margin-left: -1.4033203125em;
  color: rgb(128, 128, 128);
}
.icon-boyo-logo .path29:before {
  content: "\e979";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path30:before {
  content: "\e97a";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path31:before {
  content: "\e97b";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path32:before {
  content: "\e97c";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-boyo-logo .path33:before {
  content: "\e97d";
  margin-left: -1.4033203125em;
  color: rgb(2, 85, 163);
}
.icon-budget:before {
  content: "\e97e";
}
.icon-buy:before {
  content: "\e97f";
}
.icon-c-location:before {
  content: "\e980";
}
.icon-clock:before {
  content: "\e981";
  color: #0255a3;
}
.icon-date:before {
  content: "\e982";
}
.icon-delete:before {
  content: "\e983";
  color: #fe4646;
}
.icon-done-1:before {
  content: "\e984";
  color: #858b9f;
}
.icon-downdrop-down:before {
  content: "\e985";
}
