/* styles.css */

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.password {
    position: relative;
}

.password span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.Startdate_input {
    display: flex;
    flex-direction: column;
}
